<div class="container">
  <div class="row px-4 font-lucidia">
    <div class="col-12">
      <h3>Skills</h3>
    </div>
    <div class="col-md-6 py-3">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">Manual Testing</h5>
        </mat-card-header>
        <mat-card-content>
          <ul class="text-grey">
            <li>Requirement Analysis</li>
            <li>Test Planning</li>
            <li>Test Case Writing</li>
            <li>Environment Setup</li>
            <li>Functional Testing</li>
            <li>Regression Testing</li>
          </ul>
        </mat-card-content>
        <app-skills-clip-card
          [title]="'Manual Testing'"
          [experience]="'1.5 years'"
          [rating]="'4/5'"
          [clipCSS]="'circle(30px at 99% 2%)'"
          [iLeft]="'97.5%'"
          [iTop]="'3%'"
        ></app-skills-clip-card>
      </mat-card>
    </div>
    <div class="col-md-6 py-3">
      <mat-card>
        <div>
          <mat-card-header>
            <h5 class="font-lucidia">Automation Skills</h5>
          </mat-card-header>
          <mat-card-content>
            <ul class="text-grey">
              <li>Selenium</li>
              <li>Appium</li>
              <li>Rest Assured</li>
              <li>Postman</li>
            </ul>
          </mat-card-content>
        </div>
        <app-skills-clip-card
          [title]="'Selenium'"
          [experience]="'2 years'"
          [rating]="'4/5'"
          [clipCSS]="'circle(7px at 130px 60px)'"
          [iLeft]="'129px'"
          [iTop]="'52px'"
          [lastUsed]="2019"
        ></app-skills-clip-card>
        <app-skills-clip-card
          [title]="'Appium'"
          [experience]="'5 months'"
          [rating]="'2/5'"
          [clipCSS]="'circle(7px at 120px 80px)'"
          [iLeft]="'119px'"
          [iTop]="'72px'"
          [lastUsed]="2018"
        ></app-skills-clip-card>
        <app-skills-clip-card
          [title]="'Rest Assured'"
          [experience]="'6 months'"
          [rating]="'3/5'"
          [clipCSS]="'circle(7px at 154px 100px)'"
          [iLeft]="'153px'"
          [iTop]="'92px'"
          [lastUsed]="2019"
        ></app-skills-clip-card>
        <app-skills-clip-card
          [title]="'Postman'"
          [experience]="'1 year'"
          [rating]="'3/5'"
          [clipCSS]="'circle(7px at 131px 120px)'"
          [iLeft]="'130px'"
          [iTop]="'112px'"
          [lastUsed]="2019"
        ></app-skills-clip-card>
      </mat-card>
    </div>
    <div class="col-md-6 py-3">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">Programming Languages</h5>
        </mat-card-header>
        <mat-card-content>
          <ul class="text-grey">
            <li>Core Java</li>
            <li>Python</li>
            <li>Angular</li>
            <li>NodeJS</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
