button {
  border: none;
  outline: none;
}

.nav-link {
  font-size: 16px;

}

.navbar-brand, .nav-link{
  color: #1DA1F2 !important;
  -webkit-transition: all 0.5s;
}

.fa, .name {
  color: inherit !important;
  -webkit-transition: all 0.5s;
}

.navbar-brand:hover, .nav-link:hover, .navbar-brand:focus, .nav-link:focus {
  color: #b5b5b5 !important;
  -webkit-transition: all 0.5s;
}

img {
  height: 27px;
}


