button {
  border: none;
  outline: none;
}

.nav-link {
  font-size: 16px;

}

.navbar-brand, .nav-link {
  color: #1DA1F2 !important;
  -webkit-transition: all 0.5s;
}

.navbar-brand {
  animation: blinkingText 2s;
}

@keyframes blinkingText {
  0% {
    color: white;
  }
  5% {
    color: transparent;
  }
  10% {
    color: white;
  }
  15% {
    color: transparent;
  }
  20% {
    color: white;
  }
  25% {
    color: transparent;
  }
  30% {
    color: white;
  }
  35% {
    color: transparent;
  }
  40% {
    color: white;
  }
  45% {
    color: transparent;
  }
  50% {
    color: white;
  }
  55% {
    color: transparent;
  }
  60% {
    color: white;
  }
  65% {
    color: transparent;
  }
  70% {
    color: white;
  }
  75% {
    color: transparent;
  }
  100%{
    color: #1DA1F2;
  }
}

.fa, .name {
  color: inherit !important;
  -webkit-transition: all 0.5s;
}

.navbar-brand:hover, .nav-link:hover, .navbar-brand:focus, .nav-link:focus {
  color: #b5b5b5 !important;
  -webkit-transition: all 0.5s;
}

img {
  height: 27px;
}


