<div class="container">
  <div class="row px-4 font-lucidia">
    <div class="col-12">
      <h3>Profile Summary</h3>
    </div>
    <div class="col-12 py-4">
      <mat-card>
        <ul class="text-grey">
          <li>
            {{experience}} of experience as an Automation Engineer in software industry.
          </li>
          <li>Hands on experience in building automation frameworks in Java.</li>
          <li>Successfully designed and implemented Automation Framework in Selenium/Java and
            integrated it with JIRA.
          </li>
          <li>Familiar with writing automation scripts in Appium/Java and RestAssured.</li>
          <li>Hands-on experience in performing reliability testings like sanity testing, functional testing,
            integration testing, system testing, regression testing, etc. and verification bd validation of new
            projects, while setting up individual and team goals.
          </li>
          <li>Possess capability of managing and retaining of resources, under the management limits and
            instructions.
          </li>
          <li>Delivered quality controls and enhancements to proactively address problems and improved
            product quality, customer satisfaction and bottom-line results.
          </li>
          <li>Possess good communications skills and team oriented with proven leadership
            capabilities with ability to integrate out of the box thinking and problem-solving analysis to
            improve processes, systems, and methodologies.
          </li>
          <li>Familiar with development frameworks: Angular, ExpressJS, Django</li>
        </ul>
      </mat-card>
    </div>
  </div>

</div>
