.clip-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(9, 201, 153);
  transition: all .5s ease-in-out;

  &:hover, &:focus {
    clip-path: circle(75%) !important;
    background: lightseagreen;
    z-index: 2;
  }

  &:hover .row, &:focus .row{
    opacity: 1 !important;
  }

  &:hover span, &:focus span {
    color: rgba(255, 255, 255, 0)
  }

  .row{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    margin-left: 0;
    opacity: 0;
  }
}

span {
  color: white;
  font-size: 12px;
}

.col-10{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
