<div class="container">
  <div class="row px-1 font-lucidia">
    <div class="col-12 d-flex justify-content-center">
      <h3>Education</h3>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            Bachelor of Technology | Computer Science
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <div class="row">
            <div class="col-auto info label">
              Batch
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              2012 - 2016
            </div>
          </div>
          <div class="row">
            <div class="col-auto info label">
              College
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              Mangalayatan University (Deemed University)
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            XII | Science
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <div class="row">
            <div class="col-auto info label">
              Passout
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              2012
            </div>
          </div>
          <div class="row">
            <div class="col-auto info label">
              School
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              NIOS (Open Schooling)
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            X | All Subjects
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <div class="row">
            <div class="col-auto info label">
              Passout
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              2008
            </div>
          </div>
          <div class="row">
            <div class="col-auto info label">
              School
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              Three Dots Se. Sec. School (ICSE Board)
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
