<div class="container d-flex h-100 font-lucidia">
  <div class="row justify-content-center align-self-center px-5 text-center intro-text">
    <p>Hi, I am Vibhor Goyal.<br>I am a SDET(Software Design Engineer - Test)<br>I am passionate for coding and is always ready to take up new challenges.</p>
    <div class="col-12">
      <button mat-raised-button>
        <a href="https://www.linkedin.com/in/vibhor-goyal-2b4728108" target="_blank">View Linkedin profile</a>
      </button>
    </div>
  </div>
</div>
