<div class="container py-2">
  <div class="row px-1 font-lucidia">
    <div class="col-12 d-flex justify-content-center">
      <h3>Certificates</h3>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-content class="px-2">
          <div class="row">
            <div class="col-auto info">
              <ul>
                <li>C from Aptech in year 2013</li>
                <li>C++ from Aptech in year 2013</li>
                <li>Data Structures form NIIT in year 2014</li>
                <li>Java from HP in year 2015</li>
              </ul>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
