<div class="container">
  <div class="row px-1 font-lucidia">
    <div class="col-12 d-flex justify-content-center">
      <h3>Projects</h3>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            1. Confidential
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <ul class="text-grey">
            <li>A business logic web application used to combine a definite number of components to give the
              end product to customer.
            </li>
            <li>Worked as a Quality Analyst to verify if the functionality of application meets the business
              requirements and testing the application on testing and production servers.
            </li>
            <li>Later the manual effort of testing after deployment was replaced by me with automation
              scripts written in Selenium/Java along with creation of keyword driven framework.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            2. Confidential
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <ul class="text-grey">
            <li>Infrastructure monitoring web-based application which proactively monitor physical servers,
              virtual machines, network devices, applications, and services across multiple platforms
              running on-premise, remotely, or in the Cloud.
            </li>
            <li>Worked as a Quality Analyst helping the development team to improve the quality of product by
              creating the plans, defining scope and doing the requirement analysis, writing and executing
              test cases in functional and regression testing along with giving demos to client.
            </li>
            <li>Automated test cases in selenium in data driven framework.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            3. Confidential
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <ul class="text-grey">
            <li>A desktop + web application which audit sensitive data of SQL Server to see who did what,
              when, where, and how and monitor and alert on suspicious activity to detect and track
              problems.
            </li>
            <li>Worked as a part of functional testing and regression testing team</li>
            <li>Automated test cases in selenium in data driven framework.</li>
            <li>Created smoke testing automation suite in Coded UI.</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            4. Confidential
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <ul class="text-grey">
            <li>A desktop based application for organisation's self use.</li>
            <li>Worked as an individual contributor on the product ensuring the product meets the business requirement
              and
              helping the development team to improve the quality of product by creating the plans, defining
              scope and doing the requirement analysis, writing and executing test cases in functional and
              regression testing.
            </li>

          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            5. Confidential
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <ul class="text-grey">
            <li>An IDE for Delphi and C++</li>
            <li>Worked as ann individual contributor on the product ensuring the product meets the business requirement
              and helping the development team to improve the quality of product by creating the plans, defining
              scope and doing the requirement analysis, writing and executing test cases in functional and
              regression testing and giving demos to client.
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            6. Device Connect
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <ul class="text-grey">
            <li>A private on-premises mobile device cloud allowing users to remotely connect to, view,
              manipulate, and run test automation on iOS and Android phones and tablets.
            </li>
            <li>Worked on writing test cases in RestAssured, Selenium And Appium in Java.
            </li>
            <li>Worked on the development of automation framework using Selenium/Java and Docker
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            7. Mydesq
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <ul class="text-grey">
            <li>An application for CRM, Portfolio Management, Compliance, Invoicing, Reporting, MIS, Risk
              Analytics, Product Shelf in one integrated Solution for all Asset Managers and Banks
            </li>
            <li>Developved data driven framework for web and API testing in Selenium and Rest Assured Java.</li>
            <li>Worked on writing test cases in Selenium and RestAssured with Java.</li>
            <li>Successfully integrated the script execution process with Jira using X-Ray Test Management
              and Jenkins</li>
            <li>Worked with the development team in development of product written in ElectronJS (Angular + NodeJS)</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
