<div class="container py-2">
  <div class="row px-1 font-lucidia">
    <div class="col-12">
      <h3>Work Experience</h3>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            <a href="https://xorlabs.com/" target="_blank">Xorlabs LLC</a> | Jan 2016 - March 2018
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <div class="row">
            <div class="col-auto info label">
              Work Duration
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              {{durationXorlabs}}
            </div>
          </div>
          <div class="row">
            <div class="col-auto info label">
              Designation
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              Associate Quality Analyst
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            <a href="https://mobilelabsinc.com/" target="_blank">Mobile Labs INC</a> | Mar 2018 - August 2018
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <div class="row">
            <div class="col-auto info label">
              Work Duration
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              {{durationMobileLabs}}
            </div>
          </div>
          <div class="row">
            <div class="col-auto info label">
              Designation
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              SDET (Software Design Engineer - Test)
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 py-2">
      <mat-card>
        <mat-card-header>
          <h5 class="font-lucidia">
            <a href="https://www.mydesq.com/" target="_blank">Mydesq Technologies</a> | August 2018 - Present
          </h5>
        </mat-card-header>
        <mat-card-content class="px-3">
          <div class="row">
            <div class="col-auto info label">
              Work Duration
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              {{durationMydesq}}
            </div>
          </div>
          <div class="row">
            <div class="col-auto info label">
              Designation
            </div>
            <div class="col-auto info">
              :
            </div>
            <div class="col-auto info">
              SDET (Software Design Engineer - Test)
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
